*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Century Gothic";
    background-color: black;
}

#wrapper{
    max-width: 1222px;
}

h2{
    color: white;
    padding-left: 100px;
   
}

header{
    display: block;
    padding: 0;
}

header img{
    width: 1222px;
    float: left;
}

nav{
    display: block;
    float: left;
    width: 200px;
    background-color: white;
    border-bottom-right-radius: 25px;
}

nav ul  {
    list-style-type: none;
}

nav li{
    padding-right: 15px;
    float: left;
}

nav li img{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

nav li img:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);   
}

aside ul{
    background-color: white;
    padding-top: 35px;
    padding-bottom: 25px;
}

aside li{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

aside li:hover  {
    background-color: black;
    color: white;
}

aside li img    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

aside   {
    display: block;
    padding: 0;
    float: left;
    width: 170px;
    background-color: black;
}

section{
    float: left;
    width: 1052px;
    background-color: black;
    padding-bottom: 50px;
}

section h1{
    color: white;
    font-size: 60px;
    padding-left: 25px;
    padding-top: 15px;
    
}

#comment {
    display: block;
    float: left;
    color: white;
    float: right;
    width: 1052px;
    word-wrap: break-word;
}

#game_form  {
    margin-left: 263px;
}

section form{
    color: white;
    display: inline-block;
    
}

input, label{
    display: inline-block;
    width: 200px;
    margin: 2px;
}

//table{
    //table-layout: fixed;
   // width: 1000px;
   // margin-top: 25px;
//}

tr {
    color: white;
    display: inline-box;    
}

td{
    padding-left: 25px;
    //text-align: center;
    font-size: 15px;
    
}

footer{
    float: left;
    padding-left: 30px;
    width: 100%;
    background-color: white;
    border-top-style: dashed;
}

footer img{
    width: 45px;
    float: right;
    padding-right: 30px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

footer img:hover    {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

#submitimage    {
    width: 30px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#submitimage:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#updateimage    {
    width: 30px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#updateimage:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#coverimage {
    width: 270px;
    height: 300px;
    border: dashed white;
}